@model GrupoFortes.Web.ViewModels.ProdutoViewModel

@{
    Layout = null;
}

@if (Model.ListaProdutos.Count != 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDoCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValordoProduto)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ListaProdutos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDoCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValordoProduto)
                </td>
                <td>
                    <span class="glyphicon glyphicon-pencil" onclick="editarProduto(@item.ProdutoId)"></span> |
                    <span class="glyphicon glyphicon-list" onclick="detalharProduto(@item.ProdutoId)"></span> |
                    <span class="glyphicon glyphicon-trash" onclick="deletarProduto(@item.ProdutoId)"></span> 
                </td>
            </tr>
        }
    </table>
}
else
{
    <label>Não a produtos a serem mostrados</label>
}
